---

---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO：TITLE・説明文設定 -->
    <title></title>
    <meta name="description" content="" />

    <!-- TODO：OGP設定 -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <!-- TODO:favicon設定 -->
    <link rel="icon" href="/favicons/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicons/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" sizes="180x180" />

    <!-- web fonts - google fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- style -->
    <link rel="stylesheet" href="/styles/global.css" />

    <!-- scripts -->
    <script src="/scripts/global.js" defer></script>
  </head>
  <body>
    <div id="root" class="base">
      <div class="base-container">
        <header class="base-header">
          <div class="base-header-container">TODO: BASE HEADER</div>
        </header>
        <main class="base-main">
          <div class="base-main-container">TODO: BASE MAIN</div>
        </main>
        <footer class="base-footer">
          <div class="base-footer-container">TODO: BASE FOOTER</div>
        </footer>
      </div>
    </div>
  </body>
</html>
